.section-layout, .privacy {
  position: relative;
  padding-top: 5%;
  width: 100%;
}

.section-header, .privacy-header {
  width: 100%;
  display: block;
  margin-bottom: 2%;
  text-align: center;
  padding-top: 70px;
}

.section-title, .privacy-header__title {
  font-size: 36px;
  margin-bottom: 0;
  color: #e0e0e0;
  text-shadow: 1px 1px 0 #666,2px 2px 0 #666,3px 3px 0 #666;
}

.section-text, .privacy-header__text {
  font-size: 80%;
  margin-bottom: 5%;
}

.privacy figure {
  position: relative;
  height: 300px;
  width: 100%;
}

.privacy figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}

.privacy-text {
  padding: 3%;
  text-align: left;
}

.privacy-text dt {
  color: #a39d7d;
  font-size: 1.6rem;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #a8915f;
}

.privacy-text dd {
  margin-top: 3%;
  font-size: 80%;
}

.mobile-menu-btn {
  position: fixed;
  right: 15px;
  color: #ffffff !important;
  background-color: transparent;
  border: none;
  outline: none !important;
  cursor: pointer;
  z-index: 1000;
}

.mobile-menu-btn > span {
  display: block;
  height: 3px;
  width: 23px;
  background-color: #666666;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 2px;
  margin-bottom: 5px;
}

.mobile-menu-btn > span:last-child {
  margin-bottom: 0px;
}

.mobile-nav {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: hidden;
  width: 100%;
  height: 100vh;
}

.mobile-nav__list {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.mobile-nav__list ul {
  position: absolute;
  z-index: 9;
  top: 10%;
  left: 5%;
  display: block;
  list-style: none;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  line-height: 3rem;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.mobile-nav__list li {
  opacity: 0;
  text-align: left;
  list-style: none;
  display: block !important;
  width: 100%;
  -webkit-transform: translate3d(0, 0, -1000px);
          transform: translate3d(0, 0, -1000px);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s;
}

.mobile-nav__list li a {
  margin: 7px;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-weight: 900;
  color: #e0e0e0 !important;
  height: 40px;
  z-index: 10000;
}

.mobile-nav__list img {
  width: 65%;
  margin-left: -15px;
}

.mobile-nav__list p {
  color: #e0e0e0;
  font-size: 70%;
  margin-top: 8%;
}

.copy-link {
  position: relative;
  display: inline-block;
}

.copy-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #555555;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.copy-link:hover::after {
  width: 100%;
}

.nav-cover {
  position: fixed;
  z-index: 3;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000000;
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(0);
          transform: scale(0);
  right: -50px;
  top: -50px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.menu-open .mobile-nav {
  visibility: visible;
}

.menu-open .mobile-nav li {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.menu-open .mobile-nav li:nth-child(1) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.menu-open .mobile-nav li:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.menu-open .mobile-nav li:nth-child(3) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.menu-open .mobile-nav li:nth-child(4) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.menu-open .mobile-nav li:nth-child(5) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.menu-open .mobile-nav li:nth-child(6) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu-open .mobile-nav li:nth-child(7) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-open .mobile-nav li:nth-child(8) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.menu-open .mobile-nav li:nth-child(9) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.menu-open .mobile-nav li:nth-child(10) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.menu-open .mobile-menu-btn > span {
  background-color: #e0e0e0;
}

.menu-open .mobile-menu-btn > span:nth-child(1) {
  -webkit-transition-delay: 70ms;
          transition-delay: 70ms;
  -webkit-transform: translateY(7px) rotate(135deg);
          transform: translateY(7px) rotate(135deg);
}

.menu-open .mobile-menu-btn > span:nth-child(2) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateX(-14px) scaleX(0);
          transform: translateX(-14px) scaleX(0);
}

.menu-open .mobile-menu-btn > span:nth-child(3) {
  -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
  -webkit-transform: translateY(-9px) rotate(-135deg);
          transform: translateY(-9px) rotate(-135deg);
}

.menu-open .nav-cover {
  -webkit-transform: scale(50);
          transform: scale(50);
}

.page-top {
  opacity: 1;
  visibility: visible;
  position: fixed;
  right: -10px;
  bottom: 30px;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
  -webkit-animation-name: kf-top-anime;
          animation-name: kf-top-anime;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.page-top a {
  color: #a1a1a1;
  text-decoration: none;
  font-size: 80%;
  display: block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.page-top a::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 50px;
  top: 0;
  right: 20px;
  background-color: #a1a1a1;
}

.page-top a::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 20px;
  top: -4px;
  right: 52px;
  background-color: #a1a1a1;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

@-webkit-keyframes kf-top-anime {
  0%,
  100% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  50% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes kf-top-anime {
  0%,
  100% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  50% {
    -webkit-transform: none;
            transform: none;
  }
}

.animate-basic, .text-animation {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.fade-up {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

body {
  font-family: 'Kameron','Noto Sans JP', sans-serif;
  color: #a1a1a1;
  background: url(../../images/noise.png) repeat #111111;
  margin: 0;
  height: 0;
  line-height: 2;
  letter-spacing: 0.1em;
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  background-color: #000000;
  padding: 2%, 5%;
  opacity: 0.8;
  z-index: 9999;
}

.header a {
  text-decoration: none;
  cursor: pointer;
}

.header__nav {
  display: none;
}

.header__logo {
  margin-left: 15px;
}

.header__logo img {
  height: 70px;
  width: 100px;
}

.header__sns img {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 65px;
  top: 17px;
}

.footer {
  margin-top: 5%;
  width: 100%;
}

.footer__logo {
  text-align: center;
  height: 78px;
  width: 163px;
  margin: 0 auto;
}

.footer a {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.footer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__nav ul {
  list-style: none;
  text-decoration: none;
  padding-left: 0px;
  padding-top: 3%;
}

.footer__nav li {
  font-size: 80%;
  text-align: center;
  margin-top: 3%;
}

.footer__nav li a {
  position: relative;
  color: #a1a1a1;
  text-decoration: none;
}

.footer__nav li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #555555;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__nav li a:hover::after {
  width: 100%;
}

.footer__copy {
  padding-top: 8%;
  padding-bottom: 3%;
  text-align: center;
  font-size: 50%;
}

@media (min-width: 750px) {
  .mobile-nav__list ul {
    top: 8%;
    left: 0%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .mobile-nav__list li {
    text-align: center;
  }
  .mobile-nav__list li img {
    width: 25%;
  }
  .mobile-nav__list p {
    margin-top: 3%;
  }
  .footer {
    margin-top: 8%;
  }
  .footer__nav {
    float: none;
    width: 100%;
  }
  .footer__nav ul {
    text-align: center;
  }
  .footer__nav li {
    display: inline-block;
    white-space: normal;
    padding-left: 0;
    padding-right: 0;
  }
  .footer__nav li:not(:first-child)::before {
    content: "|";
    margin-right: 0.3em;
    margin-left: 0.3em;
  }
  .footer__copy {
    padding-top: 5%;
  }
  .privacy-header {
    padding-top: 55px;
  }
  .privacy-header__text {
    margin-bottom: 3%;
  }
}

@media (min-width: 900px) {
  .header__nav {
    display: block;
  }
  .hd1200 {
    display: none;
  }
  .hd-nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .hd-nav__list {
    margin: 7px;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-weight: 900;
    color: #e0e0e0 !important;
    height: 40px;
  }
  .hd-nav__list a {
    text-decoration: none;
    color: #a1a1a1 !important;
    margin: 13px 10px 0px 0px;
  }
  .privacy-header figure {
    height: 350px;
  }
}

@media (min-width: 1200px) {
  .mobile-menu-btn {
    display: none;
  }
  .hd1200 {
    display: block;
  }
  .header__sns img {
    right: 10px;
  }
  .hd-nav__list a {
    margin: 13px 30px 0px 0px;
  }
  .privacy-header {
    padding: 40px 15% 0 15%;
  }
  .privacy-text {
    padding: 3% 15%;
  }
}
/*# sourceMappingURL=style.css.map */