.mobile-menu-btn {
  display: none;
}

.hd1200 {
  display: block;
}

.header {
  &__sns {
    & img {
      right: 10px;
    }
  }
}

.hd-nav {
  &__list {
    & a {
      margin: 13px 30px 0px 0px;
    }
  }
}

//-----------------------//

.privacy-header {
  padding: 40px 15% 0 15%;
}


.privacy-text {
  padding: 3% 15%;
}