body {
  font-family: 'Kameron','Noto Sans JP', sans-serif;
  color: #a1a1a1;
  // color: #e0e0e0;
  background: url(../images/noise.png) repeat #111111;
  margin: 0;
  height: 0;
  line-height: 2;
  letter-spacing: 0.1em;
}

.header {
  position: fixed;
  display: flex;
  height: 70px;
  width: 100%;
  align-items: center;
  text-align: left;
  background-color: #000000;
  padding: 2%, 5%;
  opacity: 0.8;
  z-index: 9999;
  

  & a{
    text-decoration: none;
    cursor: pointer;
  }

  &__nav {
    display: none;
  }
  &__logo {
   margin-left: 15px;
    & img {
      height: 70px; 
      width: 100px;
    }
  }
  &__sns {
    & img {
      position: absolute;
      width: 35px;
      height: 35px;
      right: 65px;
      top: 17px;
    }
  }
}

.footer {
  margin-top: 15%;
  width: 100%;

  &__logo {
    text-align: center;
    height: 78px;
    width: 163px;
    margin: 0 auto;
  }

  & a {
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__nav {
    & ul {
      list-style: none;
      text-decoration: none;
      padding-left: 0px;
      padding-top: 3%;
    }
    
    & li {
      font-size: 80%;
      text-align: center;
      margin-top: 3%;
      & a {
        position: relative;
        color: #a1a1a1;
        text-decoration: none;

        &::after {
          content: '';
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 0;
          height: 2px;
          background-color: #555555;
          transition: 0.3s;
        }  
        &:hover::after {
          width: 100%;
        }
      }
    } 
  }

  &__copy {
    padding-top: 8%;
    padding-bottom: 3%;
    text-align: center;
    font-size: 50%;
  }
}
