.mobile-nav {
  &__list {
    & ul {
      top: 8%;
      left: 0%;
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    & li {
      text-align: center;
      & img {
        width: 25%;
      }
    }
    & p {
      margin-top: 3%;
    }
  }
}


.footer {
  margin-top: 8%;
  &__nav {
    float: none;
    width: 100%;
    & ul {
      text-align: center;
    }
    
    & li {
      display: inline-block;
      white-space: normal;
      padding-left: 0;
      padding-right: 0;
      &:not(:first-child)::before {
        content: "|";
        margin-right: 0.3em;
        margin-left: 0.3em;
      }
    } 
  }

  &__copy {
    padding-top: 5%;
  }
}

//---------------------//
.menu-header {
  padding-top: 55px;
  &__text {
    margin-bottom: 5%;
  }
}

.menu-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px 0px;
  

  &__img {
    width: 49%;
    height: 390px;
  }

  &__title {
    width: 49%;
    margin-bottom: 0;
  }
}


.drink-text {
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
}


.poker {
  width: 100%;
}